# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
backend/venv/
env/

# Django
db.sqlite3
media/

# VS Code
.vscode/

# Node
node_modules/

# React
dist/
build/

# Logs
*.log

# Environment variables
.env